:host {
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
font-size: 14px;
color: #333;
box-sizing: border-box;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
margin: 8px 0;
}

p {
margin: 0;
}

.spacer {
flex: 1;
}

.toolbar {
position: absolute;
top: 0;
left: 0;
right: 0;
height: 60px;
display: flex;
align-items: center;
background-color: #1976d2;
color: white;
font-weight: 600;
}

.title {
  position: relative;
  text-align:center;
  top: 150px;
}

.searchbox {
 position: relative;
 top: 300px;
 text-align: center;
}

#weather{
 display: none; 
 position: relative;
 top: 330px;
 text-align: center;
 border: 1px solid #333;
 width: 30%;
 margin-left: auto;
 margin-right: auto;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#error{
 color: red;
 display: none; 
 position: relative;
 top: 200px;
 text-align: center;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
.card-container > *:not(.circle-link) ,
.terminal {
  width: 100%;
}

.card:not(.highlight-card) {
  height: 16px;
  margin: 8px 0;
}

.card.highlight-card span {
  margin-left: 72px;
}

svg#rocket-smoke {
  right: 120px;
  transform: rotate(-5deg);
}
}

@media screen and (max-width: 575px) {
svg#rocket-smoke {
  display: none;
  visibility: hidden;
}
}