<div class="toolbar" role="banner">
    <div class="spacer"></div>
</div>

<div class="title">
  <h1 >The Weather in Canada</h1>
</div>

<div class="searchbox">
<form class="form-inline md-form mr-auto mb-4">
    <mat-form-field>
        <input type="text" placeholder="City" matInput [matAutocomplete]="auto" mat Input [formControl]="myControl">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of options" [value]="option">
                {{option}}
                </mat-option>
            </mat-autocomplete>
</mat-form-field>
<button mdbBtn size="sm" gradient="aqua" rounded="true" class="my-0 waves-light" mdbWavesEffect type="submit" (click)="add()">Search</button>
</form>
</div>

<div class="error" id="error">
    <p>Veuillez saisir correctement une ville du Canada</p>
</div>

<div class='weather' id="weather">
    <div class="city">
        <h2>City: {{weather.name}}</h2>
    </div>
    <div class="Temperature">
        <h3>Temperature: {{tempC}} Celsius / {{tempF}} Fahrenheit</h3>
    </div>
    <div class="humidity">
        <h3>Humidity: {{weather.main.humidity}} %</h3>
    </div>
    <div class="Pressure">
        <h3>Pressure: {{weather.main.pressure}} hPa</h3>
    </div>
    <div class="Description">
        <h3>Description: {{weather.weather[0].description}}</h3>
    </div>
</div>



<router-outlet></router-outlet>
